@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}